:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #root, */
.container,
.map-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas,
img {
  /* image-rendering: -moz-crisp-edges; */
  /* image-rendering: -webkit-crisp-edges; */
  /* image-rendering: -moz-crisp-edges; */
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  /* image-rendering: pixelated; */
  /* image-rendering: crisp-edges; */
}
